html{
    font-size: 10px;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

@font-face {
    font-family: "PT";
    src: url("./fonts/PTS76F.ttf"); 
  }
body{
    background-image:linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0,0.4)), url(./images/dumbbell-01.jpg) ;
    font-size: 2rem;
    max-width: 576px;
    font-family: "PT Sans", sans-serif;
    color: white
    
}
h1{
    font-size: 5rem;
    color: whitesmoke;
}
section{
    margin: 3rem 0;
}
img{
    width: 100%;
    margin: 1rem 0;
}
/*felhivás*/
.felhivas h2{
    color: #E1BA65;
    font-size: 2.6rem;
}
.felhivas *{
    padding-bottom: 2rem;
}
.felhivas p{
    font-weight: 600;
    font-size: 2.6rem;
}
.felhivas{
    text-align: center;
    color: whitesmoke;
}

/*Jelentkezés gomb*/
.jelentkezes-gomb{
    text-decoration: none;
    color: whitesmoke;
    background-color: #e8ba65;
    text-shadow: 2px 2px 5px #000;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    font-size: 2.5rem;
}

/*Képzés*/
.kepzes h2{
    background: #e8ba65;
    text-align: center;
    text-shadow: 2px 2px #bb8b40;
    padding: 2rem 5rem;
    color: white;
}
.kepzes .flexbox p{
    color: white;
}




@media screen and (max-width: 992px){
    body{
        max-width: 990px;
    }
    
}

@media screen and (min-width: 992px){
    body{
        max-width: 1600px;
        font-size: 3rem;
        margin: 0 auto;
    }
    /*Flexbox*/
    .flexbox{
        display: flex;
        font-size: 2.2rem;
        align-items: center;
    }
    .flexbox div{
        width: 50%;
    }
    .info .flexbox{
        width: 80%;
        margin-left: auto;
        margin-right: auto ;
    }
    .info .flexbox div{
        margin: 3rem 1rem;
        height: 300px;
    }
}
